<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
 </configSections>
 <connectionStrings>
		<add  name="DbCon"  connectionString="Data Source=103.125.254.20,9433;Initial Catalog = qt_infinigentdb; User ID = demo2; Password=BaalSaal420$" />
	</connectionStrings>

    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
	<appSettings>
		<add key="FileLocation" value ="D:\MM\"/>
		<add key="Zid" value="100003"/>
	</appSettings>
</configuration>